
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<form class="container" #formulario="ngForm"  padding>
  <ion-img class="cityLogin" src="/assets/city_login.png"></ion-img>

    <ion-card class="loginCard">
      <h1 class="titulo">Gestion Municipal</h1>
      <ion-item class="item-input">
        <ion-input class="input" ngModel placeholder="Usuario" name="user"></ion-input>
      </ion-item>
      <ion-item class="item-input">
        <app-show-hide-password>
          <ion-input class="input" ngModel type="password" placeholder="Contraseña" name="pass"></ion-input>
        </app-show-hide-password>
      </ion-item>
      <div (click)="loguear(formulario)" class="botonIniciarSesion">Iniciar Sesion</div>
    </ion-card>
</form>