
<ion-content padding>
  <ion-img class="ion-margin logoLogin" src="/assets/logo-dark.png"></ion-img>
  <form class="formLogin" #formulario="ngForm">
    <h5 class="tituloRedesSociales">Ingreso</h5>
    <button (click)="loginGoogle()" class="botonGoogle">
      <ion-icon class="icon" slot="start" name="logo-google"></ion-icon>
      <span class="text">Con Google</span>
      </button>
      <div class="lineaDivisora"></div>
    <ion-item class="itemLogin ion-no-padding">
      <ion-label position="floating">
        Usuario</ion-label>
      <ion-input type="email" ngModel name="user" required email></ion-input>
    </ion-item>
    <ion-item class="itemLogin ion-no-padding">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" ngModel name="pass" required minlength="8"></ion-input>
    </ion-item>
    <button (click)="loguear(formulario)" [disabled]="!formulario.valid" class="botonUsuario">Ingresar</button>
    <ion-button routerLink = "/forgot-password" color="medium" class="botonRegister" fill="clear" type="button" expand="full" margin-top>¿Olvidaste el password?</ion-button>
    <ion-button (click) = "irAlRegistro()" color="medium" class="botonRegister" fill="clear" type="button" expand="full" margin-top>¿No tenés cuenta? Registrate</ion-button>
  </form>
</ion-content>