
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<div class="container"  padding>
  <ion-slides class="slider" pager>
    <div style="height: 50%; width: 100%; position: absolute; bottom: 0;">
      <div  class="botonIniciarSesion">Comenzar ahora</div>
      <ion-img style="position: absolute; bottom: 0; height: 690px; width: 1948px; transform: translateX(-100px);  transform: translateY(50px);" src="/assets/city.png"></ion-img>
    </div>
    <ion-slide class="slide">
      <div>
        <h1 class="titulo">Gestion Municipal</h1>
        <h2 class="sub-titulo">Grow Together</h2>
      </div>
    </ion-slide>
    <ion-slide class="slide">
    </ion-slide>
    <ion-slide class="slide">
    </ion-slide>
  </ion-slides>
</div>

