<ion-header>
  <ion-toolbar class="fondo">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="dashboard"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
    <ion-item class="item-input">
      <ion-input class="input" (ionChange)="filtrar($event)" placeholder="Buscar por DNI" show-clear-button="always"></ion-input>
    </ion-item>
     <ion-list #list class="list animacion">        
        <ion-item (click)="clickItem($event)" class="item" *ngFor="let item of listMostar">
            <ion-img slot="start" src="/assets/user_icon.png" class="img-item no-touchable"></ion-img>
            <ion-label class="no-touchable">
              <h2 class="nombre no-touchable">Joaquin Nuñez</h2>
              <h3 class="documento no-touchable">DNI: 45685472</h3>
              <h3 class="documento no-touchable">CUIT: 45685472</h3>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>