<ion-header>
  <ion-toolbar class="fondo">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <h1 class="tituloSaludo"> Hola {{user?.nombre}}!</h1>
  </ion-toolbar>
</ion-header>
<ion-content class="fondo">
  <div class="grid-container">
    <div (click)="onClickItem($event, i)" *ngFor="let item of items; let i = index" class="grid-item">
      <ion-img class="img-grid" src="{{item.imagen}}"></ion-img>
      <p class="txt-grid" >{{item.nombre}}</p>
    </div>
  </div>
</ion-content>
