

ion-header::after { display: none; }

.botonMenu{
}

.tituloSaludo{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Poppins",sans-serif;
    font-weight:600;
    color: #1E1E1E;
}

.fondo{
    background: #D3F3F5;
    --background: #D3F3F5;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #D3F3F5;
    padding: 30px;
    width: 100%;
    gap: 30px;
    margin-top: 10px;
    grid-template-columns: 1fr 1fr ; 
    transition: all 0.5s ease-in-out;
  }
  .grid-container:hover >:not(:hover) {
    opacity: 0;
  }

  .grid-item:hover{
    transition: all 0.5s ease-in-out;
    animation-name: click;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    opacity: 0;
      
  }

  @keyframes click {
    0% {scale: 1; opacity: 1;}
    20% {scale: 1.2;}
    40% {scale: 0.9;}
    60% {scale: 1;}
    100% {scale: 1; opacity: 0;}
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 140px;
    border-radius: 25px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    overflow: hidden; 
    transition: all 0.5s ease-in-out;
  }
  
  .img-grid{
    width:80%;
    height:80%;
    margin: auto;
    padding-bottom: 5px;
  }

  .txt-grid{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight:500;
    margin: 0;
    
  }

  @media only screen and (min-width: 500px) {
    .txt-grid{
      font-family: "Poppins",sans-serif;
      font-size: 16px;
      font-weight:500;
      margin: 0;
      
    }
  }

  @media only screen and (max-width: 400px) {
    .txt-grid{
      font-family: "Poppins",sans-serif;
      font-size: 12px;
      font-weight:500;
      margin: 0;
      
    }
  }

  @media only screen and (max-width: 500px) and (min-width:400px) {
    .txt-grid{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight:500;
      margin: 0;
      
    }
  }

  